.mainpage__main__container__fisrt__img {
    width: 1200px;
    height: 600px;
}

.mainpage__main__container__fisrt__picture{
    margin: 35px 46px px 0;
}

.mainpage__main__container__cardFourth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}