.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.registration{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 860px;
}
@media (max-width: 740px) {
    .registration{
        width: 400px;
    }
  }
  
  @media (max-width: 340px) {
    .registration{
        width: 300px;
    }
    .form{
        width: 300px;
    }
  }